html, body {
	height: 100%;
}

/*
 *
 *	Dashboard Doctor Alpha with VillaUI (13/09/2014)
 *
 *	Requeriments:
 *
 *	Browser Engine: Gecko, Google Webkit;
 *	Screen Size: w-min(1024px), h-min(768px), w-max(1920px), h-max(1080px);
 *
 *	Configuration Set:
 *
 *	z-index: 0; 		//default
 *	z-index: 1; 		//dashboard
 *	z-index: 10;	 	//modal
 *	z-index: 100; 	//full
 *	z-index: 1000; 	//top
 *
 */

.bg-active {
	background-image: url("#{resource['img:wall02.jpg']}");
}

.full {
	height: 100%;
	padding: 100px;
	position: fixed;
	text-align: center;
	width: 100%;
	z-index: 100;
}

.hidden {
	display: none;
}

.bg-active {
	background-image: url("#{resource['img:wall05.jpg']}") !important;
}

/* Navbar */

.navbar {
	/*box-shadow: 1px 1px 2px 0px rgba(000,000,000,0.04);
	-moz-box-shadow: 1px 1px 2px 0px rgba(000,000,000,0.04);
	-webkit-box-shadow: 1px 1px 2px 0px rgba(000,000,000,0.04);*/
	border-bottom: solid 1px #dfdfdf;
	margin-bottom: 15px;
}

.navbar .title {
	font-family: 'Open Sans';
	display: inline-block;
	padding-bottom: 0;
}

.navbar .item .title {
	font-family: 'Open Sans';
	font-size: 21px;
	font-weight: 300; 
	margin: 2px 20px;
	padding-bottom: 0px;
}

.navbar .item {
	color: #444444;
	display: inline-block;
	font-size: 18px;
}

.navbar .item-content {
	display: inline-block;
}

.navbar .item ul {
	position: absolute;
	z-index: 1000;
	float: left;
	visibility: hidden;
	min-width: 160px;
	padding: 5px 0px;
	margin: 0px;
	font-size: 14px;
	text-align: left;
	list-style: none outside none;
	background-color: #FFF;
	background-clip: padding-box;
	border-radius: 2px;
	/*box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.176);*/
}

.navbar .link {
	color: #444444;
	font-size: 14px;
	line-height: 23px;
	padding-bottom: 6px;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 7px;
	outline: 0;
}

/* Sidebar */

.sidebar {
	float: left;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	position: fixed !important;
	z-index: 10;
}

.bg-active .sidebar {
	background-color: rgba(000, 000, 000,0.1);
}

.bg-active .sidebar:before {
	background-color: rgba(255,255,255,0.6);
	background-size: cover;
	content: "";
	height: 100%;
	width: 0%;
	position: absolute;
	transform-origin: center;
	z-index: -1;
	-webkit-filter: blur(24px);
	-moz-filter: blur(24px);
	-o-filter: blur(24px);
	-ms-filter: blur(24px);
	filter: blur(24px);
}

.sidebar ul {
	margin: 0;
	margin-top: 35px;
	margin-bottom: 24px;
	padding: 0;
}

.sidebar .item-container {
	display: block;
}

.sidebar .item {
	border: none;
	color: #ECF0F1;
	display: block;
	user-select: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.bg-active .sidebar .item {
	color: #000000;
	opacity: 0.2;
}

.sidebar .item:hover,
.sidebar .item:active,
.sidebar .item:focus {
	/*background-color: #C5EFF7;*/
	/*color: #22313F;*/
	color: #ffffff;
	text-decoration: none;
	opacity: 1;
	outline: 0;
	transition-property: color, opacity;
	transition-duration: 0.1s, 0.3s;
	-webkit-transition-timing-function: linear;
	-moz-transition-timing-function: linear;
	-o-transition-timing-function: linear;
	transition-timing-function: linear;
}

.sidebar-icon-view .item-icon {
	display: block !important;
}

.sidebar-icon-view .item-label {
	display: none !important;
}

.sidebar .item-icon {
	display: none;
	font-size: 32px;
	margin-left: 12px;
	margin-right: 12px;
	padding-bottom: 7px;
	padding-top: 8px;
	text-align: center;
	width: 40px;
}

.sidebar .item-label {
	display: block;
	padding-bottom: 9px;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 9px;
}

/* Main */

.main {
	font-family: 'Open Sans';
	height: 500px;
	z-index: 0;
}

.btn {
	border: none;
	border-radius: 4px;
	float: left;
	font-family: 'Open Sans';
	font-size: 14px;
	font-weight: 600;
	padding: 4px 12px; /* -1px to border */ 
	margin: 0 10px;
	text-align: center;
	outline: 0;
	box-shadow: -1px 1px 2px 0px rgba(000,000,000,0.10);
	-moz-box-shadow: -1px 1px 2px 0px rgba(000,000,000,0.10);
	-webkit-box-shadow: -1px 1px 2px 0px rgba(000,000,000,0.10);
}

.btn:hover,
.btn:focus,
.btn:active {
	outline: 0;
	text-decoration: none;
}

.btn-link {
	border: none;
	background-color: none;
	color: #444444;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

.btn-link:hover,
.btn-link:active,
.btn-link:focus {
	text-decoration: underline;
}

.btn-link-o {
	border: none;
	background-color: none;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

.btn-link-o:hover,
.btn-link-o:active,
.btn-link-o:focus {
	text-decoration: underline;
}

.btn-default {
	border: solid 1px #BDBDBD;
	background-color: #ffffff;
	color: #444444;
}

.btn-default:hover {
	background-color: #EFEFEF;
	color: #444444;
}

.btn-default:active,
.btn-default:focus {
	background-color: #DFDFDF;
	color: #444444;
}

.btn-primary {
	border: solid 1px #3498DB;
	background-color: #2980b9;
	color: #ffffff;
}

.btn-primary:hover {
	background-color: #2574A9;
	color: #ffffff;
}

.btn-primary:active,
.btn-primary:focus {
	background-color: #1970a9;
	color: #ffffff;
}

.ph15 {padding-bottom: 15px;	padding-top: 15px; }
.ph10 {padding-bottom: 10px;	padding-top: 10px; }
.ph05 {padding-bottom: 05px;	padding-top: 05px; }

.form .title {
	padding-left: 25px;
	font-size: 48px;
	font-family: 'Fira Sans';
	font-weight: 100;
	line-height: 54px;
	margin-top: 20px;
	margin-bottom: 25px;
}

.ui-dialog-titlebar {

}

/* BOOTSTRAP MODAL */

.modal-open {
	overflow: hidden;
}
.modal {
	display: none;
	overflow: hidden;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 500;
	-webkit-overflow-scrolling: touch;
	outline: 0;
}
.modal.fade .modal-dialog {
	-webkit-transform: translate3d(0, -25%, 0);
	transform: translate3d(0, -25%, 0);
	-webkit-transition: -webkit-transform 0.3s ease-out;
	-moz-transition: -moz-transform 0.3s ease-out;
	-o-transition: -o-transform 0.3s ease-out;
	transition: transform 0.3s ease-out;
}
.modal.in .modal-dialog {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.modal-open .modal {
	overflow-x: hidden;
	overflow-y: auto;
}
.modal-dialog {
	position: relative;
	width: auto;
	margin: 10px;
}
.modal-content {
	position: relative;
	background-color: #ffffff;
	border: 1px solid #999999;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 2px;
	-webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
	box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
	background-clip: padding-box;
	outline: 0;
}
.modal-backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 400;
	background-color: #000000;
}
.modal-backdrop.fade {
	opacity: 0;
	filter: alpha(opacity=0);
}
.modal-backdrop.in {
	opacity: 0.5;
	filter: alpha(opacity=50);
}
.modal-header {
	padding: 15px;
	border-bottom: 1px solid #e5e5e5;
	min-height: 16.42857143px;
}
.modal-header .close {
	margin-top: -2px;
}
.modal-title {
	font-family: 'Open Sans';
	margin: 0;
	line-height: 1.42857143;
}
.modal-body {
	position: relative;
	padding: 15px;
}
.modal-footer {
	padding: 15px;
	text-align: right;
	border-top: 1px solid #e5e5e5;
}
.modal-footer .btn + .btn {
	margin-left: 5px;
	margin-bottom: 0;
}
.modal-footer .btn-group .btn + .btn {
	margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
	margin-left: 0;
}
.modal-scrollbar-measure {
	position: absolute;
	top: -9999px;
	width: 50px;
	height: 50px;
	overflow: scroll;
}
@media (min-width: 768px) {
	.modal-dialog {
		width: 600px;
		margin: 30px auto;
	}
	.modal-content {
		-webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
		box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
	}
	.modal-sm {
		width: 300px;
	}
}
@media (min-width: 992px) {
	.modal-lg {
		width: 900px;
	}
}
.clearfix:before,
.clearfix:after,
.modal-footer:before,
.modal-footer:after {
	content: " ";
	display: table;
}
.clearfix:after,
.modal-footer:after {
	clear: both;
}
.center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.pull-right {
	float: right !important;
}
.pull-left {
	float: left !important;
}
.hide {
	display: none !important;
}
.show {
	display: block !important;
}
.invisible {
	visibility: hidden;
}
.text-hide {
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;
}
.hidden {
	display: none;
}
.affix {
	position: fixed;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.close {
	float: right;
	font-size: 21px;
	font-weight: bold;
	line-height: 1;
	color: #000000;
	text-shadow: 0 1px 0 #ffffff;
	opacity: 0.2;
	filter: alpha(opacity=20);
}
.close:hover,
.close:focus {
	color: #000000;
	text-decoration: none;
	cursor: pointer;
	opacity: 0.5;
	filter: alpha(opacity=50);
}
button.close {
	padding: 0;
	cursor: pointer;
	background: transparent;
	border: 0;
	-webkit-appearance: none;
}

/* BOOTSTRAP POPOVER */

.popover {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1060;
	display: none;
	max-width: 276px;
	padding: 1px;
	text-align: left;
	background-color: #ffffff;
	background-clip: padding-box;
	border: 1px solid #cccccc;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 6px;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	white-space: normal;
}
.popover.top {
	margin-top: -10px;
}
.popover.right {
	margin-left: 10px;
}
.popover.bottom {
	margin-top: 10px;
}
.popover.left {
	margin-left: -10px;
}
.popover-title {
	margin: 0;
	padding: 8px 14px;
	font-size: 14px;
	font-weight: normal;
	line-height: 18px;
	background-color: #f7f7f7;
	border-bottom: 1px solid #ebebeb;
	border-radius: 5px 5px 0 0;
}
.popover-content {
	padding: 9px 14px;
}
.popover > .arrow,
.popover > .arrow:after {
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
}
.popover > .arrow {
	border-width: 11px;
}
.popover > .arrow:after {
	border-width: 10px;
	content: "";
}
.popover.top > .arrow {
	left: 50%;
	margin-left: -11px;
	border-bottom-width: 0;
	border-top-color: #999999;
	border-top-color: rgba(0, 0, 0, 0.25);
	bottom: -11px;
}
.popover.top > .arrow:after {
	content: " ";
	bottom: 1px;
	margin-left: -10px;
	border-bottom-width: 0;
	border-top-color: #ffffff;
}
.popover.right > .arrow {
	top: 50%;
	left: -11px;
	margin-top: -11px;
	border-left-width: 0;
	border-right-color: #999999;
	border-right-color: rgba(0, 0, 0, 0.25);
}
.popover.right > .arrow:after {
	content: " ";
	left: 1px;
	bottom: -10px;
	border-left-width: 0;
	border-right-color: #ffffff;
}
.popover.bottom > .arrow {
	left: 50%;
	margin-left: -11px;
	border-top-width: 0;
	border-bottom-color: #999999;
	border-bottom-color: rgba(0, 0, 0, 0.25);
	top: -11px;
}
.popover.bottom > .arrow:after {
	content: " ";
	top: 1px;
	margin-left: -10px;
	border-top-width: 0;
	border-bottom-color: #ffffff;
}
.popover.left > .arrow {
	top: 50%;
	right: -11px;
	margin-top: -11px;
	border-right-width: 0;
	border-left-color: #999999;
	border-left-color: rgba(0, 0, 0, 0.25);
}
.popover.left > .arrow:after {
	content: " ";
	right: 1px;
	border-right-width: 0;
	border-left-color: #ffffff;
	bottom: -10px;
}

/* BOOTSTRAP TOOLTIP */

.tooltip {
	position: absolute;
	z-index: 1070;
	display: block;
	font-size: 12px;
	line-height: 1.4;
	visibility: visible;
	filter: alpha(opacity=0);
	opacity: 0;
}
.tooltip.in {
	filter: alpha(opacity=90);
	opacity: .9;
}
.tooltip.top {
	padding: 5px 0;
	margin-top: -3px;
}
.tooltip.right {
	padding: 0 5px;
	margin-left: 12px;
}
.tooltip.bottom {
	padding: 5px 0;
	margin-top: 3px;
}
.tooltip.left {
	padding: 0 5px;
	margin-left: -3px;
}
.tooltip-inner {
	max-width: 200px;
	padding: 3px 8px;
	color: #fff;
	text-align: center;
	text-decoration: none;
	background-color: #000;
	border-radius: 4px;
}
.tooltip-arrow {
	position: absolute;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
}
.tooltip.top .tooltip-arrow {
	bottom: 0;
	left: 50%;
	margin-left: -5px;
	border-width: 5px 5px 0;
	border-top-color: #000;
}
.tooltip.top-left .tooltip-arrow {
	bottom: 0;
	left: 5px;
	border-width: 5px 5px 0;
	border-top-color: #000;
}
.tooltip.top-right .tooltip-arrow {
	right: 5px;
	bottom: 0;
	border-width: 5px 5px 0;
	border-top-color: #000;
}
.tooltip.right .tooltip-arrow {
	top: 50%;
	left: 0;
	margin-top: -5px;
	border-width: 5px 5px 5px 0;
	border-right-color: #000;
}
.tooltip.left .tooltip-arrow {
	top: 50%;
	right: 0;
	margin-top: -5px;
	border-width: 5px 0 5px 5px;
	border-left-color: #000;
}
.tooltip.bottom .tooltip-arrow {
	top: 0;
	left: 50%;
	margin-left: -5px;
	border-width: 0 5px 5px;
	border-bottom-color: #000;
}
.tooltip.bottom-left .tooltip-arrow {
	top: 0;
	left: 5px;
	border-width: 0 5px 5px;
	border-bottom-color: #000;
}
.tooltip.bottom-right .tooltip-arrow {
	top: 0;
	right: 5px;
	border-width: 0 5px 5px;
	border-bottom-color: #000;
}


@font-face {
	font-family: 'magma';
	src:url("#{resource['font:magma.eot']}");
	src:url("#{resource['font:magma.eot']}") format('embedded-opentype'),
		url("#{resource['font:magma.woff']}") format('woff'),
		url("#{resource['font:magma.ttf']}") format('truetype'),
		url("#{resource['font:magma.svg']}") format('svg');
	font-weight: normal;
	font-style: normal;
}

.magma-logo {
	display: inline-block;
	font: normal normal normal 14px/1 magma;
	font-size: inherit;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-rendering: auto;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.magma-logo:before {
	content: "\e600";
}

/*!
 *	Font Awesome 4.2.0 by @davegandy - http://fontawesome.io - @fontawesome
 *	License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 *
 *	Exclusive use to Villa UI 0.7.8+
 */
/* FONT PATH
 * -------------------------- */
@font-face {
	font-family: 'FontAwesome';
	src: url("#{resource['font:fontawesome-webfont.eot']}");
	src: url("#{resource['font:fontawesome-webfont.eot']}")
	format('embedded-opentype'), url("#{resource['font:fontawesome-webfont.woff']}")
	format('woff'), url("#{resource['font:fontawesome-webfont.ttf']}")
	format('truetype'), url("#{resource['font:fontawesome-webfont.svg']}") format('svg');
	font-weight: normal;
	font-style: normal;
}

/*!
 * 
 * Table
 * 
 */

.table {
	width: 100%;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
	border-top: 1px solid #ddd;
	font-size: 14px;
	line-height: 20px;
	padding: 8px;
	vertical-align: top;
}

.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
	border-top: 0;
}

.table > thead > tr > th {
	border-bottom: solid 2px #ddd;
	text-align: left;
	vertical-align: bottom;
}

.table-hover tbody tr:hover {
	background-color: #fdfdfd;
}

/*!
 * 
 * FullCalendar Customize
 * 
 */

.fc-grid {
	font-size: 12px;
}

.fc-day-header {
	font-size: 12px;
	font-weight: 400;
	text-align: left !important;
}

.fc-header .fc-button {
	margin-bottom: 0 !important;
}

.fc-button-prev:before,
.fc-button-next:before {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.fc-button-prev:before {
	content: "\f053"
}

.fc-button-next:before {
	content: "\f054"
}

.fc-header,
.fc-header tr,
.fc-header th,
.fc-header td {
}

.fc-header-title h2 {
	font-family: 'Open Sans';
	font-weight: 300;
	margin-bottom: 4px !important;
}

.fc-day-header {
	border-left: solid 2px #fff !important;
	padding-left: 3px !important;
	vertical-align: bottom !important;
}

.fc-day {
	border-top: solid 2px #fff !important;
	border-left: solid 2px #fff !important;
}

tr[class*="fc-last"] .fc-day {
	border-bottom: solid 2px #fff !important;
}

td[class*="fc-last"] {
	border-right: solid 2px #fff !important;
}

.fc-day-number {
	float: left !important;
}

.fc-today {
	font-weight: 700;
}

.fc-today .fc-day-number:after {
	content: "\00a0(hoje)";
}

.fc-day {
}

td[class*="fc-sat"] { }

td[class*="fc-sun"] {
	background-color: #e4e4e4;
}

.fc-other-month {
	background-color: #e4e4e4 !important;
}

.fc-ltr .fc-event-hori.fc-event-start, .fc-rtl .fc-event-hori.fc-event-end {
	border-top-left-radius: 0px !important;
	border-bottom-left-radius: 0px !important;
}

.fc-ltr .fc-event-hori.fc-event-end, .fc-rtl .fc-event-hori.fc-event-start {
	border-top-right-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
}

.fc-event-vert.fc-event-end {
	border-bottom-left-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
}

.fc-event-vert.fc-event-start {
	border-top-left-radius: 0px !important;
	border-top-right-radius: 0px !important;
}

.fc-event {
	border: none !important;
	line-height: 18px !important;
	padding: 3px 2px;
}

.ui-autocomplete-input {
	border: none;
	width: 100%;
}

.ui-autocomplete-input {
	padding: 6px 12px !important;
}

.ui-autocomplete-items {
	background: none;
	background-color: #ffffff;
	margin-top: 2px;
	padding: 0px !important;
}

.ui-autocomplete-item {
	padding: 6px 12px !important;
}

.ui-autocomplete-item:hover {
	background-color: #f0f0f0;
}


.ui-autocomplete-panel {
	border: solid 2px #a7a7a7;
	border-top: none;
	box-shadow: none !important;
}

.ui-growl {
	z-index: 400 !important;
}

.ui-growl-item {
	color: #ffffff;
	padding: 8px;
	padding-top: 4px;
}

.ui-growl-item-container {
	background-color: #3498db;
	border: 1px solid #999999;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 2px;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
	background-clip: padding-box;
	outline: 0;
	opacity: 1;
}

.ui-growl-image {
	background-image: none;
	float: left;
	display: block;
	height: 0px;
	font: normal normal normal 23px FontAwesome;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	padding-top: 5px;
	padding-left: 15px;
	width: 0px;
}
.ui-growl-image:before {
	content: "\f129";
	text-align: center
}

.ui-growl-image-error {
	width: 0px !important;
}

.ui-growl-message {
	display: inline-block;
	float: left;
	font-family: 'Open Sans';
	font-size: 14px;
	font-weight: 300;
	padding-bottom: 0px;
	padding-left: 20px;
	width: 100%;
	text-align: center;
}

.ui-growl-title {
	font-weight: 400;
	padding-bottom: 0px;
	line-height: 22px;
}

/*!
 * 
 * Villa Input Color 1.0
 * 
 */

.input-color-container {
	padding: 2px !important;
}

.input-color {
	max-height: 36px;
}

.input-color-item {
	border-width: 2px;
	border-style: solid;
	display: inline-block;
	width: 32px;
	height: 32px;
	margin: 2px;
	opacity: 0.75;
}

.input-color-item:hover {
	/*border-color: #ffffff !important;*/
	cursor:pointer;
	opacity: 1;
}

.input-color-item-active {
	border: solid 2px #ffffff !important;
	opacity: 1;
}

#frmProfissionalAgenda:tblPacientes {
	background-color: red;
}